<div style="user-select: none;">
    <h2 mat-dialog-title style="color: rgb(0 0 0 / 57%) !important; background-color: #fff; text-align: center;">
        INFORMATIVO LEY DE PROTECCION DE DATOS PERSONALES
    </h2>
    <mat-dialog-content class="mat-typography" style="width: 100%;">
        <h3 style="text-align: center;">INKA CROPS S.A. PROTEGE TU INFORMACIÓN PERSONAL</h3>

        <p style="text-align: justify; display: block; width: 100%;">
            EL TRABAJADOR reconoce que ha proporcionado y proporcionará a su empleador INKA CROPS S.A. (en adelante, “INKA CROPS"),
            sus datos personales, o que INKA CROPS los ha recibido o recibirá con ocasión de la existencia de la relación laboral. 
            Los datos que serán utilizados en ocasión de la relación laboral son los que se detallan a continuación: nombre y apellido, 
            documento de identidad, nacionalidad, estado civil, estado de salud, estatura, peso, domicilio, teléfono, cuenta de correo 
            electrónico personal, grado académico, estudios, especialización, experiencia laboral, carga familiar, información de su 
            inscripción y afiliación en el seguro social salud y sistema profesional, exámenes y resultados médicos, certificados de salud, 
            tiempo de servicios, antecedentes laborales, sanciones, méritos, reconocimientos, categoría, ocupación, cargo, funciones, área, 
            jefe, equipo de trabajo, documentos de trabajo, rendimiento y desempeño laboral, intereses salariales, compensaciones, préstamos, 
            entre otros que se compartan producto de la relación laboral.
        </p>
    
        <p style="text-align: justify; display: block; width: 100%;">
            EL TRABAJADOR declara que los datos mencionados fueron y serán proporcionados a INKA CROPS dentro del proceso de selección y 
            contratación de personal, o con ocasión del inicio de existencia de la relación laboral o con ocasión de la participación o 
            acceso a determinado derecho, beneficio o ventaja, o en otras situaciones relacionadas o de similar naturaleza a las descritas. 
            En todos los casos, reconoce que los datos personales y sensibles le fueron previamente solicitados, INKA CROPS le explicó la 
            finalidad y el tratamiento que haría con los mismos, evaluó la situación concreta y finalmente, opta por brindar los datos solicitados, 
            de forma absolutamente libre y voluntaria, sin ningún tipo de presión, obligación o condición de por medio.
        </p>
    
        <p style="text-align: justify; display: block; width: 100%;">
            EL TRABAJADOR expresa su total consentimiento para que INKA CROPS recopile, registre, organice, almacene, conserve, elabore, modifique, 
            extraiga, consulte, utilice, bloquee, suprima, comunique, transfiera o difunda sus datos personales y sensibles que le fue o le será 
            proporcionada, con la finalidad de una posible o dentro del marco de una relación laboral. EL TRABAJADOR reconoce y acepta que INKA CROPS 
            haya ejercido o ejerza cualquiera de las siguientes facultades: (i) la gestión de Recursos Humanos de INKA CROPS (ii) cumplir con todos 
            y cada uno de los derechos y las obligaciones que le corresponde como empleador de acuerdo a ley o convenio; (iii) transmitir o transferir 
            los datos según corresponda a las empresas del grupo; (iv) realizar comunicaciones al interior de la organización, a los jefes, directivos 
            y a su personal, (v) tener información sobre la organización, funciones, materiales y equipos de trabajo, prevención de riesgos laborales, 
            accidentes y enfermedades, compensaciones y gastos del personal, a fin de evaluar su status y, si fuera el caso, adoptar decisiones empresariales 
            respecto a su continuidad, cambios o mejoras, (vi) evaluar y decidir la continuidad o la reorganización empresarial, en cuyo caso se podrá 
            transmitir o transferir los datos a terceras personas, naturales o jurídicas, domiciliadas en el Perú o en el extranjero (vii) proporcionar los 
            datos a las personas naturales o jurídicas, domiciliadas en el Perú o en el extranjero, que estén encargadas de asesorías o auditorías legales 
            (viii) cumplir con los mandatos o requerimientos de las autoridades administrativas, policiales, fiscales y judiciales; y, (ix) cumplir con 
            los deberes que manda la ley.
        </p>
    
        <p style="text-align: justify; display: block; width: 100%;">
            EL TRABAJADOR reitera a INKA CROPS que sólo autoriza el tratamiento de sus datos personales para los fines expresamente indicados en los párrafos 
            anteriores. En consecuencia, EL TRABAJADOR prohíbe a INKA CROPS comunicar, entregar o transferir sus datos personales o sensibles a las personas 
            naturales o jurídicas diferentes a INKA CROPS, tales como los clientes, las entidades financieras, bancarias o cooperativas, las organizaciones 
            sindicales o los representantes de los trabajadores, otros trabajadores, entre otros, a no ser que existiera un consentimiento expreso o inequívoco.
        </p>
    
        <p style="text-align: justify;">
            EL TRABAJADOR expresa que tiene derecho a acceder, actualizar, incluir, rectificar y suprimir sus datos, para lo cual deberá enviar una comunicación 
            escrita dirigida a INKA CROPS con atención al área de Recursos Humanos o la persona o área que en ese momento esté encargada del tratamiento de sus datos.
        </p>
    
        <p style="text-align: justify; display: block; width: 100%;">
            Por último, EL TRABAJADOR enfatiza que el presente consentimiento es libre, voluntario, previo, informado, expreso, inequívoco y escrito, por lo que cumple 
            con los requisitos exigidos por la Ley N° 29733, Ley de Protección de datos personales, y el Decreto Supremo N° 003-2013-JUS, Reglamento de la Ley Protección 
            de Datos Personales.
        </p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <!-- <button mat-button mat-dialog-close>Cancel</button> -->
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
    </mat-dialog-actions>
</div>