

  <mat-tab-group mat-stretch-tabs>

    <mat-tab label="Solicitudes Pendientes">

      <div class="mat-elevation-z8">
        <div class="prl15 pt10">
      
          <div class="row" style="margin-top: 5px;">
            <div class="col-sm-12">
              <h3 class="mat-h3">Lista de Solicitudes Prestamos</h3>
            </div>
          </div>
      
          <div class="row text-center">
            <div class="col-sm-12 col-lg-6 mb5">
              <mat-form-field class="w-100">
                <input matInput type="text" [(ngModel)]="value" placeholder="Search here..."
                  (keyup)="applyFilter($event)">
                <button matSuffix mat-icon-button color="primary">
                  <mat-icon class="search-icon" *ngIf="value != ''; else elseBlock" (click)="value=''">close</mat-icon>
                  <ng-template #elseBlock>
                    <mat-icon class="search-icon">search</mat-icon>
                  </ng-template>
                </button>
              </mat-form-field>
            </div>
      
            <div class="col-sm-12 col-lg-6 mb5">
              <div style="display: flex; justify-content: space-between; align-items: end;">
                <div class="col-sm-3">
                  <button mat-mini-fab color="primary" [disabled]="true"  matTooltip="Add new row">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
      
                <div>
                  <button mat-mini-fab color="primary" (click)="toggleForm()" matTooltip="Show/Hide columns">
                    <mat-icon>remove_red_eye</mat-icon>
                  </button>
                </div>
      
                <div>
                  <button mat-mini-fab color="primary"
                    [disabled]="true" matTooltip="Delete selected row/s">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
      
                <div>
                  <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu1" matTooltip="More actions">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu1="matMenu">
                    <button mat-menu-item>
                      <span>Export as Excel</span>
                    </button>
                    <button mat-menu-item>
                      <span>Export as Csv</span>
                    </button>
                    <button mat-menu-item>
                      <span>Export as Json</span>
                    </button>
                    <button mat-menu-item>
                      <span>Export as Txt</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </div>
      
          <div [@animation] class="row mb5">
            <div class="col-sm-6 col-lg-2" *ngFor="let item of checkBoxList">
              <mat-checkbox (change)="hideColumn($event, item.def)" [checked]="item.hide">
                {{ item.label }}
              </mat-checkbox>
            </div>
          </div>
      
          <div class="responsive-table">
            <table mat-table [dataSource]="dataSource" matSort>
        
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
      
              <!-- ID Column -->
              <ng-container matColumnDef="id_prestamo">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let request"> {{request.id_prestamo}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="nombre_completo">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let request"> {{request.nombre_completo}} </td>
              </ng-container>
          
              <!-- Amount Column -->
              <ng-container matColumnDef="area">
                <th mat-header-cell *matHeaderCellDef> Area </th>
                <td mat-cell *matCellDef="let request"> {{request.area}} </td>
              </ng-container>
              
              <ng-container matColumnDef="puesto">
                <th mat-header-cell *matHeaderCellDef> Puesto </th>
                <td mat-cell *matCellDef="let request"> {{request.puesto}} </td>
              </ng-container>
        
              <ng-container matColumnDef="monto">
                <th mat-header-cell *matHeaderCellDef> Monto </th>
                <td mat-cell *matCellDef="let request"> {{request.monto}} </td>
              </ng-container>
        
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> Motivo </th>
                <td mat-cell *matCellDef="let request"> {{request.descripcion}} </td>
              </ng-container>
      
              <!-- Status Empleado -->
              <ng-container matColumnDef="confirmacion_trabajador">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado (Emp) </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon
                    [ngClass]="{
                      'estado-verde': element.confirmacion_trabajador === true ,
                      'estado-rojo': element.confirmacion_trabajador === false || element.confirmacion_trabajador === null
                    }"
                  >
                    {{ element.confirmacion_trabajador === true ? 'check_circle' : 'cancel' }}
                  </mat-icon>
                </td>
              </ng-container> 
      
              <!-- Status BS Column -->
              <ng-container matColumnDef="Bs">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado (CCHH) </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon
                    [ngClass]="{
                      'estado-verde': element.confirmacion_bs === true,
                      'estado-rojo': element.confirmacion_bs === false || element.confirmacion_bs === null
                    }"
                  >
                    {{ element.confirmacion_bs === true ? 'check_circle' : 'cancel' }}
                  </mat-icon>
                </td>
              </ng-container> 
      
              <!-- Status Gerencia Column -->
              <ng-container matColumnDef="Gerencia">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado (GER) </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon
                    [ngClass]="{
                      'estado-verde': element.confirmacion_gerente_rh === true,
                      'estado-rojo': element.confirmacion_gerente_rh === false || element.confirmacion_gerente_rh === null
                    }"
                  >
                    {{ element.confirmacion_gerente_rh === true ? 'check_circle' : 'cancel' }}
                  </mat-icon>
                </td>
              </ng-container> 
        
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Detalle </th>
                <td mat-cell *matCellDef="let request">
      
                    <div class="icon-container">
                      <!-- <mat-icon *ngIf="mostrarAprobarxGerencia()" (click)="aprobarxGerencia(request)" >check</mat-icon>                  
                      <mat-icon *ngIf="mostrarAprobarxBS()" (click)="aprobarxBs(request)" >check</mat-icon> -->
    
                      <button mat-icon-button *ngIf="mostrarAprobarxGerencia()" (click)="aprobarxGerencia(request)"><mat-icon>visibility</mat-icon></button>
                      <button mat-icon-button *ngIf="mostrarAprobarxBS()" (click)="aprobarxBs(request)"><mat-icon>visibility</mat-icon></button>
                      <!-- <mat-icon (click)="openEstadoDialog(request)">visibility</mat-icon> -->
                    </div>
                </td>
              </ng-container>
        
              <tr mat-header-row *matHeaderRowDef="disColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: disColumns;" style="font-size: 12px;" ></tr>
            </table>
        
            <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
              <mat-progress-spinner color="primary" mode="indeterminate">
              </mat-progress-spinner>
            </mat-card>
        
          </div>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
          
        </div>
      </div>
    
      <!------------------------------------- NUEVO TAB --------------------------------------------->
      <!------------------------------------- NUEVO TAB --------------------------------------------->

    </mat-tab>

    <mat-tab label="Todas las solicitudes">
      
      <div class="mat-elevation-z8">
        <div class="prl15 pt10">
      
          <div class="row" style="margin-top: 5px;">
            <div class="col-sm-12">
              <h3 class="mat-h3">Solicitudes de préstamo</h3>
            </div>
          </div>
      
          <div class="row text-center">
            <div class="col-sm-12 col-lg-6 mb5">
              <mat-form-field class="w-100">
                <input matInput type="text" [(ngModel)]="value" placeholder="Search here..."
                  (keyup)="applyFilter($event)">
                <button matSuffix mat-icon-button color="primary">
                  <mat-icon class="search-icon" *ngIf="value != ''; else elseBlock" (click)="value=''">close</mat-icon>
                  <ng-template #elseBlock>
                    <mat-icon class="search-icon">search</mat-icon>
                  </ng-template>
                </button>
              </mat-form-field>
            </div>
      
            <div class="col-sm-12 col-lg-6 mb5">
              <div class="row" style="display: flex; justify-content: space-between; align-items: end;">
                <div class="col-sm-3">
                  <button mat-mini-fab color="primary" [disabled]="true"  matTooltip="Add new row">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                  
                <div class="col-sm-3">
                  <button mat-mini-fab color="primary" (click)="toggleForm()" matTooltip="Show/Hide columns">
                    <mat-icon>remove_red_eye</mat-icon>
                  </button>
                </div>
      
                <div class="col-sm-3">
                  <button mat-mini-fab color="primary"
                    [disabled]="true" matTooltip="Delete selected row/s">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
      
                <div class="col-sm-3">
                  <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu1" matTooltip="More actions">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu1="matMenu">
                    <button mat-menu-item>
                      <span>Export as Excel</span>
                    </button>
                    <button mat-menu-item>
                      <span>Export as Csv</span>
                    </button>
                    <button mat-menu-item>
                      <span>Export as Json</span>
                    </button>
                    <button mat-menu-item>
                      <span>Export as Txt</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </div>
      
          <div [@animation] class="row mb5">
            <div class="col-sm-6 col-lg-2" *ngFor="let item of checkBoxList">
              <mat-checkbox (change)="hideColumn($event, item.def)" [checked]="item.hide">
                {{ item.label }}
              </mat-checkbox>
            </div>
          </div>
      
          <div class="responsive-table">
            <table mat-table [dataSource]="dataSource_ListaGeneral" matSort>
        
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle2() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
      
              <!-- ID Column -->
              <ng-container matColumnDef="id_prestamo">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let request"> {{request.id_prestamo}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="nombre_completo">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let request"> {{request.nombre_completo}} </td>
              </ng-container>
          
              <!-- Amount Column -->
              <ng-container matColumnDef="area">
                <th mat-header-cell *matHeaderCellDef> Area </th>
                <td mat-cell *matCellDef="let request"> {{request.area}} </td>
              </ng-container>
              
              <ng-container matColumnDef="puesto">
                <th mat-header-cell *matHeaderCellDef> Puesto </th>
                <td mat-cell *matCellDef="let request"> {{request.puesto}} </td>
              </ng-container>
        
              <ng-container matColumnDef="monto">
                <th mat-header-cell *matHeaderCellDef> Monto </th>
                <td mat-cell *matCellDef="let request"> {{request.monto}} </td>
              </ng-container>
        
              <!-- <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> Motivo </th>
                <td mat-cell *matCellDef="let request"> {{request.descripcion}} </td>
              </ng-container> -->
      
              <!-- Status Empleado -->
              <ng-container matColumnDef="confirmacion_trabajador">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado (Emp) </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon
                    [ngClass]="{
                      'estado-verde': element.confirmacion_trabajador === true ,
                      'estado-rojo': element.confirmacion_trabajador === false || element.confirmacion_trabajador === null
                    }"
                  >
                    {{ element.confirmacion_trabajador === true ? 'check_circle' : 'cancel' }}
                  </mat-icon>
                </td>
              </ng-container> 
      
              <!-- Status BS Column -->
              <ng-container matColumnDef="Bs">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado (CCHH) </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon
                    [ngClass]="{
                      'estado-verde': element.confirmacion_bs === true,
                      'estado-rojo': element.confirmacion_bs === false || element.confirmacion_bs === null
                    }"
                  >
                    {{ element.confirmacion_bs === true ? 'check_circle' : 'cancel' }}
                  </mat-icon>
                </td>
              </ng-container> 
      
              <!-- Status Gerencia Column -->
              <ng-container matColumnDef="Gerencia">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado (GER) </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon
                    [ngClass]="{
                      'estado-verde': element.confirmacion_gerente_rh === true,
                      'estado-rojo': element.confirmacion_gerente_rh === false || element.confirmacion_gerente_rh === null
                    }"
                  >
                    {{ element.confirmacion_gerente_rh === true ? 'check_circle' : 'cancel' }}
                  </mat-icon>
                </td>
              </ng-container> 
        
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Detalle </th>
                <td mat-cell *matCellDef="let request">
      
                    <div class="icon-container">
                      <!-- <mat-icon *ngIf="mostrarAprobarxGerencia()" (click)="aprobarxGerencia(request)" >check</mat-icon>                  
                      <mat-icon *ngIf="mostrarAprobarxBS()" (click)="aprobarxBs(request)" >check</mat-icon> -->
    
                      <button mat-icon-button *ngIf="mostrarAprobarxGerencia()" (click)="aprobarxGerencia(request)" [ngClass]="'custom-button'"><mat-icon>visibility</mat-icon></button>
                      <button mat-icon-button *ngIf="mostrarAprobarxBS()" (click)="aprobarxBs(request)" [ngClass]="'custom-button'"><mat-icon>visibility</mat-icon></button>
                      <!-- <mat-icon (click)="openEstadoDialog(request)">visibility</mat-icon> -->
                    </div>
                </td>
              </ng-container>
        
              <tr mat-header-row *matHeaderRowDef="disColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: disColumns;" style="font-size: 12px;" ></tr>
            </table>
        
            <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
              <mat-progress-spinner color="primary" mode="indeterminate">
              </mat-progress-spinner>
            </mat-card>
        
          </div>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
          
        </div>
      </div>
      

    </mat-tab>

  </mat-tab-group>